<div class="wrapper">
  <div class="banner">
    <h1>Stupid Coach</h1>
    <p><%= @answer %></p>
    <p><%= @coach %></p>
    <p><%= link_to "next question!", ask_path %></p>
  </div>
</div>
<!-- Worst way to go back to answer: -->
<!-- <form action="/ask">
  <input type="submit" value="next question!">
</form> -->
