<div class="wrapper">
  <div class="banner">
    <h1>Ask</h1>
    <form action="/answer" method="GET">
      <input type="text" name="question">
      <input type="submit">
    </form>
  </div>
</div>


